/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/soho-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "primeflex/primeflex.css";


body {
    background-color: #f6f6f6;
}

// Table modifications
tr:hover {
    background-color: #f9f9f9;
}